html
  font-size 16px

body
  font-family 'Roboto', sans-serif
  display: flex
  flex-direction: column
  align-items: center
  flex-wrap: wrap

._programs
  display: flex
  flex-direction: row
  flex-wrap: wrap

.program_card_level polygon 
  fill: lightgray;

.program_card_level polygon.active
  fill: black;
