html
  font-size 16px

body
  font-family: 'Gilroy-Medium'
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.container
  max-width: 100%
  display: flex
  flex-direction: column

h1 
  font-family: 'Gilroy-Bold'

header
  width: 60%
  margin: 2em
  z-index: 12;


hr 
  background: #828282
  height: 1px

.menu 
  font-family: 'Gilroy-Bold'
  display:flex
  align-items: center
  text-align: center
  margin-bottom: 2em

.menu__buttons
  display: flex
  flex-direction: row
  width: 100%
  justify-content: space-between
  list-style: none
  padding: 0


.menu__buttons_button
  text-decoration: none
  transition: color 0.3s ease-in-out
  color: #828282
  font-family: Gilroy-Bold
  font-size: 18px
  line-height: 22px
  letter-spacing: 0em
  &:hover
    color: Black
    transition: color 0.3s ease-in-out

img
  width:100%

.header input[type="checkbox"],
.header .hamburger-lines 
  display: none

  

@media (max-width: 768px) 

  header
    width:100%
    position:fixed
    margin: 0em

  .menu input[type="checkbox"],
  .menu .hamburger-lines 
    display: block
  

  .menu 
    background: #fff
    display: flex
    position: relative
    height: 0px
    justify-content: flex-start
    align-items: stretch
    
  hr 
    display:none

  .menu input[type="checkbox"] 
    position: absolute
    display: block
    height: 32px
    width: 30px
    top: 20px
    left: 85%
    z-index: 5
    opacity: 0
  

  .menu .hamburger-lines 
    display: block
    height: 23px
    width: 35px
    position: absolute
    top: 17px
    left: 85%
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: space-between
  

  .menu .hamburger-lines .line 
    display: block
    height: 4px
    width: 100%
    background: #333
    &.line1
     transform-origin: 0% 0%
     transition: transform 0.4s ease-in-out
    &.line2
     transition: transform 0.2s ease-in-out
    &.line3
     transform-origin: 0% 100%
     transition: transform 0.4s ease-in-out      
  
  .header .menu__buttons 
    height: 100vh
    padding:4vw
    max-width: 60%
    background: #fff
    transform: translate(200%)
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    transition: transform 0.5s ease-in-out

  .menu__buttons li
    margin-bottom: 20px

  .menu__buttons_button
    font-size: 30px
    

  .menu input[type="checkbox"]:checked ~ .menu__buttons 
    transform: translateX(60%)
  

  .menu input[type="checkbox"]:checked ~ .hamburger-lines .line1 
    transform: rotate(35deg)
  

  .menu input[type="checkbox"]:checked ~ .hamburger-lines .line2 
    transform: scaleY(0)
  

  .menu input[type="checkbox"]:checked ~ .hamburger-lines .line3 
    transform: rotate(-35deg)
  


